{
  "presets": [
    ["next/babel", {
      "preset-env": {},
      "styled-jsx": {
        "plugins": ["styled-jsx-plugin-less"]
      }
    }],
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "module-resolver", {
        "alias": {
          "@": "./src",
          "@actions": "./src/actions",
          "@api": "./src/api",
          "@assets": "./src/assets",
          "@components": "./src/components",
          "@constants": "./src/constants",
          "@epic": "./src/epic",
          "@lib": "./src/lib",
          "@models": "./src/models",
          "@redux": "./src/redux",
          "@reducers": "./src/redusers",
          "@selectors": "./src/selectors",
          "@state": "./src/state",
          "@utils": "./src/utils"
        }
      }
    ],
    ["import", {
      "libraryName": "antd",
      "libraryDirectory":"lib",
      "style": true
    }],
    [
      "babel-plugin-styled-components",
      { "ssr": true, "pure": true }
    ],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-unicode-property-regex",
    "@babel/plugin-transform-runtime"
  ]
}
